"""
<h2>Daftar Pengajuan Cuti</h2>
<table>
    <tr>
        <th>Nama</th>
        <th>Tanggal</th>
        <th>Catatan</th>
        <th>Aksi</th>
    </tr>
    {% for req in requests %}
    <tr>
        <td>{{ req.user.username }}</td>
        <td>{{ req.start_date }} - {{ req.end_date }}</td>
        <td>{{ req.note }}</td>
        <td>
            <a href="{{ url_for('supervisor.verify_action', id=req.id, action='approve') }}">Approve</a> |
            <a href="{{ url_for('supervisor.verify_action', id=req.id, action='reject') }}">Reject</a>
        </td>
    </tr>
    {% endfor %}
</table>
"""