{% extends "errors/_error_base.html" %}

{% block illustration %}
    <img src="{{ url_for('static', filename='images/400.png') }}" alt="Bad Request" class="error-illustration floating" style="width: 280px;">
{% endblock %}

{% block error_code %}400{% endblock %}

{% block error_message %}Ups! Permintaan Aneh Terdeteksi{% endblock %}

{% block error_details %}
    <p>Server bingung dengan apa yang kamu minta, seperti memberi makan printer dengan pisang! 🍌🖨️</p>
    <div class="emoji-animation">🤔 ❓ 🔄</div>
{% endblock %}