{% extends "errors/_error_base.html" %}

{% block illustration %}
    <img src="{{ url_for('static', filename='images/500.png') }}" alt="Server Error" class="error-illustration floating" style="width: 270px;">
{% endblock %}

{% block error_code %}500{% endblock %}

{% block error_message %}Server Sedang Kacau!{% endblock %}

{% block error_details %}
    <p>Tim robot kami sedang berusaha memperbaikinya! 🤖🔧</p>
    <div class="robot-animation">⚡ 🛠️ 💥</div>
    <p class="tech-details"><small>{{ error }}</small></p>
{% endblock %}