{% extends "base.html" %}
{% block title %}Cetak Surat Cuti{% endblock %}

{% block content %}
<div class="print-container">
    <div class="text-center mb-4">
        <h3>SURAT PERMOHONAN CUTI</h3>
        <hr style="border-top: 2px solid #000; margin: 10px 0;">
    </div>

    <div class="row mb-4">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <th width="30%">Nama</th>
                    <td>{{ cuti.username }}</td>
                </tr>
                <tr>
                    <th>NIP</th>
                    <td>{{ cuti.nip }}</td>
                </tr>
                <tr>
                    <th>Jabatan</th>
                    <td>{{ cuti.jabatan }}</td>
                </tr>
                <tr>
                    <th>Golongan</th>
                    <td>{{ cuti.golongan }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <tr>
                    <th>Jenis Cuti</th>
                    <td>{{ cuti.jenis_cuti }}</td>
                </tr>
                <tr>
                    <th>Tanggal</th>
                    <td>{{ cuti.tanggal_mulai }} s/d {{ cuti.tanggal_selesai }}</td>
                </tr>
                <tr>
                    <th>Lama</th>
                    <td>{{ cuti.jumlah_hari }} hari</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="mb-4">
        <h5>Alasan Cuti:</h5>
        <p class="ps-4">{{ cuti.perihal_cuti }}</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 text-center">
            <p>Pemohon,</p>
            <br><br><br>
            <p><strong>{{ cuti.username }}</strong></p>
            <p>NIP. {{ cuti.nip }}</p>
        </div>
        <div class="col-md-6 text-center">
            <p>Mengetahui,</p>
            <br><br><br>
            <p><strong>Kepala Bagian</strong></p>
            <p>NIP. ........................</p>
        </div>
    </div>

    <div class="text-end mt-4">
        <button onclick="window.print()" class="btn btn-primary">Cetak Surat</button>
    </div>
</div>

<style>
    @media print {
        body * {
            visibility: hidden;
        }
        .print-container, .print-container * {
            visibility: visible;
        }
        .print-container {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
        .no-print {
            display: none !important;
        }
    }
</style>
{% endblock %}