name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Gunakan Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependensi
        run: npm install

      - name: Jalankan Test
        run: |
          npm install --save-dev jest supertest
          npx jest