{% extends "errors/base_error.html" %}

{% block title %}Kesalahan Server{% endblock %}

{% block content %}
    <div class="error-icon text-danger">
        <i class="fas fa-server"></i>
    </div>
    <h1>500 - Kesalahan Server</h1>
    <p class="lead">Terjadi kesalahan internal pada sistem.</p>
    {% if config.DEBUG %}
        <div class="alert alert-danger mt-3 text-start">
            <strong>Debug Info:</strong><br>
            <pre>{{ error.description if error else '' }}</pre>
        </div>
    {% endif %}
{% endblock %}